<!DOCTYPE html>
<html lang="pt_BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>dev.finance$ - Sign up</title>
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="icon" href="../images/logo.svg" />
    <link rel="stylesheet" href="../../src/loading.css" />
    <link rel="stylesheet" href="../assets/styles.css" />
  </head>
  <body
    class="box-border w-full h-full bg-gray-300 text-fontDefault font-poppins"
  >
    <main class="w-full lg:grid lg:grid-cols-customGrid2">
      <div
        class="hidden lg:visible lg:items-center lg:justify-center lg:shadow-xl lg:flex lg:bg-background"
      >
        <img
          class="lg:w-11/12 lg:mx-4"
          src="../images/banner-sign-up.svg"
          alt="Controle financeiro"
        />
      </div>
      <div
        class="flex items-center justify-center w-screen h-screen text-base lg:w-full lg:h-full"
      >
        <div class="flex items-center justify-center">
          <div class="p-8 lg:w-9/12 lg:h-4/5">
            <div class="flex items-center justify-center w-auto">
              <img
                class="self-center h:auto md:h-12 justify-self-center"
                src="../images/logo.svg"
                alt="Logo dev.finance$"
              />
            </div>
            <div class="grid grid-rows-2">
              <div class="flex items-center justify-center row-start-1">
                <h3
                  class="row-start-1 p-0 m-0 text-lg font-semibold text-center text-black sm:text-xl"
                >
                  Cadastre-se na nosssa plataforma através de suas contas
                </h3>
              </div>
              <div class="flex items-center justify-center row-start-2">
                <i class="px-4 social-icons fab fa-facebook-f"></i>
                <i class="ml-2 social-icons fab fa-google"></i>
                <i class="ml-2 social-icons fab fa-linkedin-in"></i>
              </div>
            </div>

            <div class="grid items-center justify-center grid-rows-2 -mt-10">
              <h3
                class="row-start-1 text-lg font-semibold text-center sm:text-xl text-fontDefault"
              >
                ou nos informe os seus dados
              </h3>
              <div
                class="grid items-center justify-center grid-rows-2 row-start-2"
              >
                <div class="">
                  <label class="label-modal" for="name">Nome completo</label>
                  <input
                    id="name"
                    class="input-modal"
                    type="text"
                    name="name"
                    placeholder="Seu nome"
                    required
                  />
                </div>
                <div class="input-group-sign-up">
                  <label class="label-modal" for="email">E-mail</label>
                  <input
                    id="email"
                    class="mt-2 input-modal"
                    type="email"
                    name="email"
                    placeholder="Seu e-mail"
                    required
                  />
                </div>
                <div class="input-group-sign-up">
                  <label class="label-modal" for="cpf">CPF</label>
                  <input
                    id="cpf"
                    class="mt-2 input-modal"
                    type="text"
                    name="cpf"
                    placeholder="999.999.999-99"
                    required
                  />
                </div>
                <div class="input-group-sign-up">
                  <label class="label-modal" for="celular">Celular</label>
                  <input
                    id="celular"
                    class="mt-2 input-modal"
                    type="text"
                    name="celular"
                    placeholder="(99) 99999-9999"
                    required
                  />
                </div>
                <div class="input-group-sign-up">
                  <label class="label-modal" for="endereco">Endereço</label>
                  <input
                    id="endereco"
                    class="mt-2 input-modal"
                    type="text"
                    name="endereco"
                    placeholder="Rua Paroquia, 275 - Santo Angelo - RS"
                    required
                  />
                  <small class="text-xs opacity-40 sm:text-sm"
                    >Siga o exemplo: Rua Paroquia, 275 - Santo Angelo -
                    RS</small
                  >
                </div>
              </div>

              <div class="mt-4 text-center">
                <input
                  class="w-4 h-3 mr-1"
                  type="checkbox"
                  name="polycy&terms"
                  id="polycy&terms"
                />
                <label
                  class="text-base sm:text-lg text-fontDefault"
                  for="polycy&terms"
                  >Eu concordo com os<a class="terms-a" href="#">
                    Termos de Uso </a
                  >e as<a class="terms-a" href="#">
                    Políticas de Privacidade</a
                  ></label
                >
              </div>

              <div class="flex items-center justify-center mt-6 mb-6">
                <button class="btn" id="buttonRegister">Cadastar</button>
              </div>
              <div class="grid items-center justify-center">
                <h2 class="mb-4 text-sm font-semibold text-center opacity-75">
                  Já é um de nós?
                </h2>
                <a
                  href="./sign-up.html"
                  class="text-sm text-center btn"
                  id="buttonModal"
                >
                  Logar
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <div
      class="fixed inset-0 flex items-center justify-center w-screen h-screen transition duration-300 ease-in modal-inactive bg-backgroundModal"
      id="modal-overlay"
    >
      <div
        class="flex items-center justify-center w-screen h-screen mx-auto my-24 text-white bg-white rounded-md lg:w-3/5 lg:h-3/5 modal-content"
      >
        <div>
          <div class="mx-auto text-center lg:w-11/12 lg:h-11/12">
            <i
              class="mx-auto my-2 text-4xl text-red-700 md:text-5xl lg:my-8 lg:text-7xl fa fa-exclamation-triangle"
              aria-hidden="true"
            ></i>
            <h1
              class="mt-3 mb-4 text-lg font-bold leading-8 md:text-3xl lg:mb-8 lg:text-4xl text-fontDefault"
            >
              Preencha todos os campos!
            </h1>
            <p
              class="w-full mx-auto mt-2 mb-4 text-lg font-semibold text-black md:text-2xl lg:w-3/5 lg:mt-3 lg:mb-8 lg:text-xl"
            >
              Você tentou logar sem preencher algum campo, por favor, tente
              novamente.
            </p>
            <button class="btn" id="try-again-button">Tentar novamente</button>
          </div>
        </div>
      </div>
    </div>
    <script src="../../src/loading.js"></script>
    <script src="../js/login.js"></script>
  </body>
</html>
