<!DOCTYPE html>
<html lang="pt_BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>dev.finance$ - Sign in</title>
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="icon" href="../images/logo.svg" />
    <link rel="stylesheet" href="../../src/loading.css" />
    <link rel="stylesheet" href="../assets/styles.css" />
  </head>
  <body
    class="w-screen h-screen bg-gray-300 text-fontDefault font-poppins"
  >
    <main class="w-full h-full lg:grid lg:grid-cols-customGrid">
      <div
        class="flex items-center justify-center w-screen h-screen text-base lg:w-full lg:h-full"
      >
        <div class="flex items-center justify-center">
          <div class="p-8 lg:w-9/12 lg:h-4/5">
            <div class="flex items-center justify-center w-auto">
              <img
                class="self-center h:auto md:h-12 justify-self-center"
                src="../images/logo.svg"
                alt="Logo dev.finance$"
              />
            </div>
            <div class="grid grid-rows-2">
              <div class="flex items-center justify-center row-start-1">
                <h3
                  class="row-start-1 p-0 m-0 text-lg font-semibold text-center text-black sm:text-xl"
                >
                  Entre com alguma de suas contas
                </h3>
              </div>
              <div class="flex items-center justify-center row-start-2">
                <i class="px-4 social-icons fab fa-facebook-f"></i>
                <i class="ml-2 social-icons fab fa-google"></i>
                <i class="ml-2 social-icons fab fa-linkedin-in"></i>
              </div>
            </div>

            <div class="grid items-center justify-center grid-rows-2 -mt-8">
              <h3
                class="row-start-1 text-lg font-semibold text-center sm:text-xl text-fontDefault"
              >
                ou entre com o seus dados dev.finance
                <span class="text-xl sm:text-2xl text-background">$</span>
              </h3>
              <div
                class="grid items-center justify-center grid-rows-2 row-start-2"
              >
                <input
                  id="user"
                  class="input-mark"
                  type="text"
                  placeholder="Seu usuário"
                />
                <input
                  id="password"
                  class="mt-2 input-mark"
                  type="password"
                  placeholder="Sua senha"
                />
              </div>

              <div class="flex items-center justify-center mt-6 mb-6">
                <button class="btn" id="buttonModal">Entrar</button>
              </div>
              <div class="grid items-center justify-center">
                <h2 class="text-information-login">
                  Ainda não é um de nós?
                </h2>
                <a
                  href="./sign-up.html"
                  class="link-another-sign"
                  id="buttonRegister"
                >
                  Cadastre-se
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="hidden border-black lg:border-solid lg:border-l-2 lg:visible lg:items-center lg:justify-center lg:shadow-xl lg:flex lg:bg-background"
      >
        <img
          class="lg:w-11/12 lg:mx-4"
          src="../images/banner-sign-in.svg"
          alt="Controle financeiro"
        />
      </div>
    </main>
    <!-- MODAL -->
    <div
      class="fixed inset-0 flex items-center justify-center w-screen h-screen transition duration-300 ease-in modal-inactive bg-backgroundModal"
      id="modal-overlay"
    >
      <div
        class="flex items-center justify-center w-screen h-screen mx-auto my-24 text-white bg-white rounded-md lg:w-3/5 lg:h-3/5 modal-content"
      >
        <div>
          <div class="mx-auto text-center lg:w-11/12 lg:h-11/12">
            <i
              class="mx-auto my-2 text-4xl text-red-700 md:text-5xl lg:my-8 lg:text-7xl fa fa-exclamation-triangle"
              aria-hidden="true"
            ></i>
            <h1
              class="mt-3 mb-4 text-lg font-bold leading-8 md:text-3xl lg:mb-8 lg:text-4xl text-fontDefault"
            >
              Preencha todos os campos!
            </h1>
            <p
              class="w-full mx-auto mt-2 mb-4 text-lg font-semibold text-black md:text-2xl lg:w-3/5 lg:mt-3 lg:mb-8 lg:text-xl"
            >
              Você tentou logar sem preencher algum campo, por favor, tente
              novamente.
            </p>
            <button class="btn" id="try-again-button">Tentar novamente</button>
          </div>
        </div>
      </div>
    </div>
    <script src="../../src/loading.js"></script>
    <script src="../js/login.js"></script>
  </body>
</html>
