<!DOCTYPE html>
<html lang="pt_BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>dev.finance$ - Sign up</title>
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <script src=""></script>
    <link rel="icon" href="../images/logo.svg" />
    <link rel="stylesheet" href="../../src/loading.css" />
    <link rel="stylesheet" href="../assets/styles.css" />
  </head>
  <body
    class="box-border w-full h-full bg-gray-300 lg:h-screen text-fontDefault font-poppins"
  >
    <main class="w-full h-full lg:grid lg:grid-cols-customGrid2">
      <div
        class="hidden lg:border-r-2 lg:border-black lg:visible lg:items-center lg:justify-center lg:shadow-xl lg:flex lg:bg-background"
      >
        <img
          class="lg:w-10/12 lg:mx-4"
          src="../images/banner-sign-up.svg"
          alt="Controle financeiro"
        />
      </div>
      <div
        class="flex items-center justify-center w-full h-full text-base"
      >
        <div class="flex items-center justify-center">
          <div class="p-8 lg:w-9/12 lg:h-4/5">
            <div class="flex items-center justify-center w-auto mt-6">
              <img
                class="self-center h:auto md:h-12 justify-self-center"
                src="../images/logo.svg"
                alt="Logo dev.finance$"
              />
            </div>
            <div class="my-6">
              <div class="flex items-center justify-center">
                <h3
                  class="p-0 m-0 h3-info"
                >
                  Cadastre-se na nosssa plataforma através de suas contas
                </h3>
              </div>
              <div class="flex items-center justify-center row-start-2 -mb-6">
                <i class="px-4 social-icons fab fa-facebook-f"></i>
                <i class="ml-2 social-icons fab fa-google"></i>
                <i class="ml-2 social-icons fab fa-linkedin-in"></i>
              </div>
            </div>

            <div>
                  <section class="my-6">
                    <div>
                      <h2 class="mb-4 text-base font-semibold text-left sm:text-xl text-background">Ou insira os seus dados para realiazarmos o seu cadastro</h2>
                    </div>
                    <div>
                      <label class="label-modal" for="name">Nome completo</label>
                      <input
                        id="name"
                        class="input-modal"
                        type="text"
                        name="name"
                        placeholder="Seu nome"
                        required
                      />
                    </div>
                    <div class="input-group-sign-page">
                      <label class="label-modal" for="email">E-mail</label>
                      <input
                        id="email"
                        class="input-modal"
                        type="email"
                        name="email"
                        placeholder="seu.email@dominio.com"
                        required
                      />
                    </div>
                    <div class="input-group-sign-page">
                      <label class="label-modal" for="birthdate">Data de nascimento</label>
                      <input
                        id="birthdate"
                        class="input-modal"
                        type="text"
                        name="birthdate"
                        placeholder="dd/mm/aaaa"
                        required
                      />
                    </div>
                    <div class="input-group-sign-page">
                      <label class="label-modal" for="cpf">CPF</label>
                      <input
                        id="cpf"
                        class="input-modal"
                        type="text"
                        name="cpf"
                        placeholder="999.999.999-99"
                        required
                      />
                    </div>
                    <div class="input-group-sign-page">
                      <label class="label-modal" for="celular">Celular</label>
                      <input
                        id="celular"
                        class="input-modal"
                        type="text"
                        name="celular"
                        placeholder="(99) 99999-9999"
                        required
                      />
                    </div>
                    <div class="input-group-sign-page">
                      <label class="label-modal" for="endereco">Endereço</label>
                      <input
                        id="endereco"
                        class="input-modal"
                        type="text"
                        name="endereco"
                        placeholder="Rua Paroquia, 275 - Santo Angelo - RS"
                        required
                      />
                      <small class="small-info"
                        >Siga o exemplo: Rua Paroquia, 275 - Santo Angelo -
                        RS</small
                      >
                  </section>
              </div>

              <div class="text-center">
                <input
                  class="w-4 h-3 mr-1"
                  type="checkbox"
                  name="polycy&terms"
                  id="polycy&terms"
                />
                <label
                  class="label-modal sm:text-lg"
                  for="polycy&terms"
                  >Eu concordo com os<a class="terms-and-policy" href="#">
                    Termos de Uso </a
                  >e as<a class="terms-and-policy" href="#">
                    Políticas de Privacidade</a
                  ></label
                >
              </div>

              <div class="flex items-center justify-center mt-6 mb-6">
                <button data-button-register class="btn">Cadastar</button>
              </div>
              <div class="grid items-center justify-center">
                <h2 class="text-information-login">
                  Já é um de nós?
                </h2>
                <a
                  href="./sign-in.html"
                  class="link-another-sign-page"
                  id="buttonModal"
                >
                  Entrar
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- MODAL -->
    <div
      class="modal-overlay modal-inactive"
      id="modal-overlay"
    >
      <div
        class="modal lg:w-4/5 lg:h-4/5"
      >
        <div>
          <div class="modal-content lg:w-11/12 lg:h-11/12">
            <i
              class="icon-alert-success fa fa-exclamation-triangle"
              aria-hidden="true"
              data-icon-alert
            ></i>
            <h1
              data-title-modal-success class="modal-h1"
            >
              Preencha todos os campos!
            </h1>
            <p
              data-paragraph-modal-success class="modal-p lg:w-3/5"
            >
              Você tentou cadastrar-se sem preencher algum campo, por favor, tente
              novamente.
            </p>
            <button class="btn" id="try-again-button">Tentar novamente</button>
          </div>
        </div>
      </div>
    </div>
    <script src="../../src/loading.js"></script>
    <script src="../js/signUpLogin.js"></script>
  </body>
</html>
