<!DOCTYPE html>
<html lang="pt_BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>dev.finance$ - Sign in</title>
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="icon" href="../images/logo.svg" />
    <link rel="stylesheet" href="../../src/loading.css" />
    <link rel="stylesheet" href="../assets/styles.css" />
  </head>
  <body class="w-screen h-screen bg-gray-300 text-fontDefault font-poppins">
    <main class="w-full h-full lg:grid lg:grid-cols-customGrid">
      <div
        class="flex items-center justify-center w-screen h-screen text-base lg:w-full lg:h-full"
      >
        <div class="flex items-center justify-center">
          <div class="p-8 lg:w-9/12 lg:h-4/5">
            <div class="flex items-center justify-center w-auto">
              <img
                class="self-center h:auto md:h-12 justify-self-center"
                src="../images/logo.svg"
                alt="Logo dev.finance$"
              />
            </div>
            <div class="grid grid-rows-2">
              <div class="flex items-center justify-center row-start-1">
                <h3 class="row-start-1 p-0 m-0 h3-info">
                  Entre com alguma de suas contas
                </h3>
              </div>
              <div class="flex items-center justify-center row-start-2">
                <i class="px-4 social-icons fab fa-facebook-f"></i>
                <i class="ml-2 social-icons fab fa-google"></i>
                <i class="ml-2 social-icons fab fa-linkedin-in"></i>
              </div>
            </div>

            <div class="grid items-center justify-center grid-rows-2 -mt-8">
              <h3 class="row-start-1 h3-info">
                ou entre com o seus dados dev.finance
                <span class="text-xl sm:text-2xl text-background">$</span>
              </h3>
              <div
                class="grid items-center justify-center grid-rows-2 row-start-2"
              >
                <label class="sr-only" for="cpf">CPF</label>
                <input
                  id="cpf"
                  name="cpf"
                  class="input-sign-in-page"
                  type="text"
                  placeholder="Seu CPF"
                  required
                />
                <label class="sr-only" for="password">Senha</label>
                <input
                  id="password"
                  name="password"
                  class="mt-2 input-sign-in-page"
                  type="password"
                  placeholder="Sua senha"
                  required
                />
              </div>

              <div class="flex items-center justify-center my-6">
                <button class="btn" id="buttonModal">Entrar</button>
              </div>
              <div class="grid items-center justify-center">
                <h2 class="text-information-login">Ainda não é um de nós?</h2>
                <a
                  href="./sign-up.html"
                  class="link-another-sign-page"
                  id="buttonRegister"
                >
                  Cadastre-se
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="hidden border-black lg:border-solid lg:border-l-2 lg:visible lg:items-center lg:justify-center lg:shadow-xl lg:flex lg:bg-background"
      >
        <img
          class="lg:w-11/12 lg:mx-4"
          src="../images/banner-sign-in.svg"
          alt="Controle financeiro"
        />
      </div>
    </main>
    <!-- MODAL -->
    <div class="modal-overlay modal-inactive" id="modal-overlay">
      <div class="modal lg:w-4/5 lg:h-4/5">
        <div>
          <div class="modal-content lg:w-11/12 lg:h-11/12">
            <i
              class="icon-alert-success fa fa-exclamation-triangle"
              aria-hidden="true"
            ></i>
            <h1 class="modal-h1">Preencha todos os campos!</h1>
            <p class="modal-p lg:w-3/5">
              Você tentou logar sem preencher algum campo, por favor, tente
              novamente.
            </p>
            <button class="btn" id="try-again-button">Tentar novamente</button>
          </div>
        </div>
      </div>
    </div>
    <script src="../../src/loading.js"></script>
    <script type="module" src="../js/signInLogin.js"></script>
  </body>
</html>
