@import "https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap";

@tailwind base;

/* Classes CSS com estilizaçãoes de classes Tailwind*/

/* GENERAL */
.h3-info {
  @apply text-lg font-semibold text-center text-background sm:text-xl;
}

.btn {
  @apply px-4 py-2 text-lg font-semibold text-white transition duration-500 ease-in-out rounded-lg shadow-xl outline-none bg-background md:px-6 md:py-3 md:text-xl lg:px-8 lg:py-4 lg:text-2xl hover:bg-gray-300 hover:text-background hover:shadow-none;
}

.small-info {
  @apply text-xs opacity-40 sm:text-sm;
}

/* SIGN-UP - SIGN-IN PAGE */
.social-icons {
  @apply p-3 my-2 text-2xl rounded-lg cursor-pointer;
}

.input-sign-in-page {
  @apply w-56 px-4 py-2 text-base text-black placeholder-opacity-50 border rounded-lg outline-none md:text-lg sm:w-80 focus:border-background;
}

.terms-and-policy {
  @apply text-base font-semibold text-blue-600 sm:text-lg;
}

.link-another-sign-page {
  @apply text-lg font-bold text-center transition duration-150 ease-in-out cursor-pointer text-background hover:text-fontDefault;
}

.text-information-login {
  @apply mb-4 text-sm font-semibold text-center opacity-75;
}

.input-group-sign-page {
  @apply mt-2;
}

input:valid {
  @apply border-2 border-green-700;
}

/* DASHBOARD */
.card {
  @apply px-8 py-6 mb-8 bg-white rounded-md shadow-sm text-fontDefault;
}

.card-h3 {
  @apply flex items-center justify-between text-xl font-semibold;
}

.card-p {
  @apply mt-4 text-3xl leading-10;
}

.btn-new-transaction {
  @apply inline-block mb-3 text-lg font-semibold text-black cursor-pointer hover:text-income;
}

/* TABELA - DASHBOARD */
.table-thead-th {
  @apply px-8 py-4 text-xl font-semibold text-center bg-white;
}

.table-tbody-tr {
  @apply border-b opacity-70 border-fontDefault;
}

.table-tbody-tr:hover {
  @apply opacity-100;
}

.table-tbody-td {
  @apply px-8 py-4 text-lg text-center bg-white;
}

/* MODAL */
.modal-overlay {
  @apply fixed inset-0 flex items-center justify-center w-screen h-screen transition duration-300 ease-in bg-backgroundModal;
}

.modal {
  @apply flex items-center justify-center w-screen h-screen mx-auto my-24 text-white bg-white rounded-md;
}

.modal-content {
  @apply mx-auto text-center;
}

.modal-h1 {
  @apply mt-3 mb-4 text-lg font-bold leading-8 md:text-3xl lg:mb-8 lg:text-4xl text-fontDefault;
}

.modal-p {
  @apply w-full mx-auto mt-2 mb-4 text-lg font-semibold text-black md:text-2xl lg:mt-3 lg:mb-8 lg:text-xl;
}

.icon-alert-success {
  @apply mx-auto my-2 text-4xl text-red-700 md:text-5xl lg:my-8 lg:text-7xl;
}

.input-group-modal {
  @apply mt-3;
}

.label-modal {
  @apply mt-2 text-base text-fontDefault ;
}

.input-modal {
  @apply w-full p-3 text-xs placeholder-opacity-50 border rounded-lg outline-none sm:text-sm focus:border-background ;
}

/* FOOTER */
.footer {
  @apply px-0 pt-16 pb-8 text-center opacity-60 text-fontDefault;
}

/* CSS PURO */

main {
  z-index: 10;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.modal-inactive {
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}

.active {
  z-index: 100;
  opacity: 1;
  visibility: visible;
}

@tailwind components;
@tailwind utilities;
