@import "https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap";

@tailwind base;

.card {
  @apply px-8 py-6 mb-8 bg-white rounded-md shadow-sm text-fontDefault ;
}

.card-h3 {
  @apply flex items-center justify-between text-xl font-normal font-semibold;
}

.card-p {
  @apply mt-4 text-3xl leading-10;
}

.btn-new-transaction {
  @apply inline-block mb-3 text-lg font-semibold text-black hover:text-income;
}

.table-thead-th {
  @apply px-8 py-4 text-xl font-semibold text-center bg-white;
}

.table-tbody-tr {
  @apply border-b opacity-70 border-fontDefault;
}

.table-tbody-tr:hover {
  @apply opacity-100;
}

.table-tbody-td {
  @apply px-8 py-4 text-lg text-center bg-white;
}

.social-icons {
  @apply p-3 my-2 text-2xl rounded-lg cursor-pointer;
}

.input-mark {
  @apply w-56 px-4 py-2 text-lg text-black placeholder-opacity-50 border-2 border-black rounded-lg outline-none sm:w-80 bg-none focus:border-background focus:text-fontDefault;
}

.terms-a {
  @apply text-base font-semibold text-blue-600 sm:text-lg;
}

main {
  z-index: 10;
}

.modal-inactive {
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}

.active {
  z-index: 100;
  opacity: 1;
  visibility: visible;
}

.btn {
  @apply px-3 py-1 mt-4 text-lg font-semibold text-black transition duration-500 ease-in-out bg-gray-200 border border-solid rounded-lg shadow-xl outline-none md:px-6 md:py-3 md:text-xl lg:px-8 lg:py-4 lg:text-2xl border-background hover:bg-background hover:text-white hover:border-white;
}

.input-group-modal {
  @apply mt-3;
}

.input-modal {
  @apply w-full p-3 rounded focus:border-background;
}

/* CSS PURO */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

@tailwind components;
@tailwind utilities;
