@import "https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap";

@tailwind base;

.card {
  @apply px-8 py-6 mb-8 bg-white rounded-md text-fontDefault;
}

.card-h3 {
  @apply text-xl font-normal;
}

.card-p {
  @apply mt-4 text-3xl leading-10;
}

.table-thead-th {
  @apply px-8 py-4 text-xl font-normal text-left bg-white;
}

.table-tbody-tr {
  @apply opacity-70;
}

.table-tbody-tr:hover {
  @apply opacity-100;
}

.table-tbody-td {
  @apply px-8 py-4 text-lg bg-white;
}

.social-icons {
  @apply p-3 my-2 text-2xl rounded-lg cursor-pointer;
}

.input-mark {
  @apply w-56 px-4 py-2 text-lg text-black placeholder-opacity-50 border-2 border-black rounded-lg outline-none sm:w-80 bg-none focus:border-cardBackground focus:text-fontDefault;
}

.terms-a {
  @apply text-base font-semibold text-blue-600 sm:text-lg;
}

main {
  z-index: 10;
}

.modal-inactive {
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}

.active {
  z-index: 100;
  opacity: 1;
  visibility: visible;
}

.btn {
  @apply px-3 py-1 mt-4 text-lg font-semibold text-black transition duration-500 ease-in-out bg-gray-200 border border-solid rounded-lg shadow-xl outline-none md:px-6 md:py-3 md:text-xl lg:px-8 lg:py-4 lg:text-2xl border-background hover:bg-background hover:text-white hover:border-white;
}

@tailwind components;
@tailwind utilities;
